@import "../../styles/constants.scss";

.container {
	@extend .master_container;

	// background-image: none;
	// background-color: $darkRed;
   background-image: linear-gradient(to bottom, #c7c7c7, #f5f5f5); 
    width: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
   justify-content: flex-start;
	color: white;
   height:100%;
   padding:10% 5%;
   
	// height: 100%;
	@media #{$desktop} {
		flex-direction: row;
		flex-wrap: wrap;
		justify-items: flex-start;
      padding:5% 0;
	}

	.intro {
		font-family: $secondaryFont;
		margin-bottom: 3rem;
      color:$black;
		@media #{$desktop} {
         width:80%;
         margin:5% 10%;
			padding: 0 10%;
			font-size: 1.5rem;
		}
	}
	.card_container {
		background-image: none;
		// background-color: $darkRed;
		width: 100%;
		z-index: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;
		color: white;
	
		@media #{$desktop} {
         width:80%;
         margin:0 10%;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
         justify-items: center;
		}
		.min_title {
			color: $black;
			border: 1px solid $white;
			padding: 1rem;
			margin-bottom: 1rem;
			border-left: 10px solid $black;
			position: relative;
			span {
				position: absolute;
				right: 1rem;
				font-weight: bold;
			}
		}
	}
}



.intro{
   margin-top:0rem;
   font-size: 1.1rem;
   color: $black;
   font-family:$secondaryFont;
   letter-spacing:0rem;
  
   text-align:center;
   margin-bottom:1rem;
}