@import "../../styles/constants.scss";

.general_container{
    
   display:flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   position:relative;
   height:90vh;
   z-index:102;
   padding:5vh 0;  

   // background-image:url('/background.png');
   @media #{$desktop}{
      flex-direction: row;
   }

   .overlay{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      // background-image:url("/ofi1.jpg");
      background-color: white;
      background-size: cover;
      z-index:99;
      filter: brightness(20%);

   }
   .title_container{
      
      padding-top:10%;
      z-index:102;


      
   @media #{$desktop}{
      width:50%;
      margin:auto 0;
      padding-left:10%;
      padding-top:0%;
      // background-color: #01162788;


   }
   }
}


.master_container {
   @extend .master_container;
   //  background-image:url('/background.png');
   display:flex;
   flex-direction:column;
   align-items: center;
   align-content: center;
   justify-content: center;
   justify-items: flex-start;
   z-index:102;
   

   @media #{$desktop}{
      padding:0 10%;
      align-content: flex-start;
      align-items: flex-start;
      
   }


   .brief{
      margin-top:0.6rem;
      font-size: 1.1rem;
      color: $white;
      font-family:$secondaryFont;
      letter-spacing:0rem;
      padding:0.2rem;
      text-align:center;
   }
   .button_container{
      width:100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      padding:2rem;
      color:white;
      margin-top:1rem;
      @media #{$desktop}{
        flex-direction:row;  
        justify-content: space-between;
        width:70%;
       }
        
   

      .button_primary{
         @extend .button_primary; 
         font-weight: 200;
            @media #{$desktop}{
      width:45%;   }
      }
   }


}

.newsletter_container{
   width:100%;
   .newsletter{
   background-color: none;
   border:1px solid white;
   width:59%;
   
   background: none;
   display:inline-block;
   padding:0.5rem;
   font-size: 1rem;
   @media #{$desktop}{
      width:45%;   }
   }
   span{
      color:white;
      margin-left:0.5rem;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.342);
      padding:0.5rem;
      border:1px solid rgba(255, 255, 255, 0.342);
   }
}

.subscribe{
   margin-top:4rem;
   align-content: center;
   align-items:left;
   color: $black;
   font-size:1.3rem;

   justify-self: left;
   justify-items: left;
   text-align:left;
   // padding:0.7rem;

   font-family: $mainFont;
   font-weight: bold;
   // font-weight: 400;

   position:relative;
   z-index:102;
   margin-bottom:1rem;
   @media #{$desktop}{
     font-size:1.6rem;

   }
}