@import "../../styles/constants.scss";

.general_container{
    
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   justify-items: space-between;
   align-items: center;
   align-content: center;
   height:90vh;
   padding:5vh 0;
   position:relative;
   background-image: linear-gradient(to bottom, #9b9b9b, #a4a4a4, #acacac, #b5b5b5, #bebebe, #c6c6c6, #cfcfcf, #d7d7d7, #e1e1e1, #ebebeb, #f5f5f5, #ffffff);   @media #{$desktop}{
      flex-direction: row;
   }

   .title_container{
      
      padding-top:5%;
      

      
   @media #{$desktop}{
      width:50%;
      margin:auto 0;
      padding-left:10%;
      padding-top:0%;
      // background-color: #01162788;


   }
   }
}


.master_container {
   @extend .master_container;
   //  background-image:url('/.png');
   display:flex;
   flex-direction:column;
   align-items: center;
   align-content: center;
   justify-content: center;
   justify-items: flex-start;

   @media #{$desktop}{
      padding:0 10%;
      align-content: flex-start;
      align-items: flex-start;
      
   }


   .brief{
      margin-top:1rem;
      font-size: 1.3rem;
      color: $black;
      font-family:$secondaryFont;
      letter-spacing:0rem;
      padding:0 0.5rem;
      text-align:center;
   }
   .button_container{
      width:100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      padding:1rem 2rem;
      margin-top:0rem;
      @media #{$desktop}{
      //   flex-direction:row;  
      //   justify-content: space-between;
        width:80%;
       }
        
   

      .button_primary{
         @extend .button_primary; 
        
            @media #{$desktop}{
      width:100%;   }
      }
   }

}

.title_container{
    
   padding-top:0%;
   z-index:10;

   
@media #{$desktop}{
   align-content: right ;
   background-image:none;
   width:50%;
   margin:auto 0;
   margin-right:0;
   padding-left:10%;
   padding-top:0%;
   // background-color: #01162788;


}
}

.overlay{
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;

   background-size: cover;
   z-index:99;
   filter: brightness(40%);
   
}

.background{
   position:absolute;
   top:-10%;
   left:5%;
}

.overlay{
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:25%;
   // background-color:$lightRed;
   background-image: linear-gradient(to bottom, $darkRed, rgb(248, 63, 63)); 
   // background-image: url("/background.png");
   // -webkit-box-shadow: 10px 10px 33px -10px rgba(0,0,0,1);
   // -moz-box-shadow: 10px 10px 33px -10px rgba(0,0,0,1);
   // box-shadow: 10px 10px 33px -10px rgba(0,0,0,1);
   
   transform: rotate(0deg);
   // background-size: contain;
   z-index:0;
   filter: brightness(50%);
   overflow-y: hidden;
   overflow-x:none;
   display:none;



   @media #{$desktop}{
      display:block;
   position:absolute;
   top:-30%;
   left:-10%;
   width:48%;
   height:150%;
   // background-color:$lightRed;
   background-image: linear-gradient(to bottom, $darkRed, rgb(248, 63, 63)); 
   // // background-image: url("/background.png");
   // -webkit-box-shadow: 10px 10px 33px -10px rgba(0,0,0,1);
   // -moz-box-shadow: 10px 10px 33px -10px rgba(0,0,0,1);
   // box-shadow: 10px 10px 33px -10px rgba(0,0,0,1);
   transform: rotate(-10deg);
   background-size: contain;
   z-index:0;
   filter: brightness(50%);
   }
}